.subscription-booking-hero {
    position: relative;
    padding: 0px;
    figure {
        position: absolute;
        left: 0;
        right: 0;
        height: 50%;
        &::before {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .subscription-content {
        position: relative;
        z-index: 5;
        height: 100%;
        padding: 80px 0px 60px 0px;
        @include macbook {
            padding-top: 60px;
        }
        @include windows-laptop {
            padding-top: 60px;
        }
        @include tab-landscape {
            padding-top: 50px;
        }
        @include tab-portrait {
            padding-bottom: 30px;
        }
        .subscription-content-header {
            text-align: center;
            margin-bottom: 40px;
            h1 {
                color: white;
                font-weight: 500;
                font-size: 56px;
                line-height: 50px;
                letter-spacing: -0.03em;
                @include macbook {
                    font-size: 46px;
                    line-height: 46px;
                }
                @include tab-landscape {
                    font-size: 46px;
                    line-height: 46px;
                }
                @include tab-portrait {
                    font-size: 40px;
                    line-height: 40px;
                }
            }
            p {
                font-size: 30px;
                font-family: $secondary-font;
                line-height: 43px;
                color: rgba(240, 240, 240, 0.8);
                letter-spacing: -0.02em;
                @include macbook {
                    font-size: 26px;
                    line-height: 38px;
                }
                @include windows-laptop {
                    font-size: 26px;
                    line-height: 38px;
                }

                @include tab-landscape {
                    font-size: 22px;
                    line-height: 34px;
                }
                @include tab-portrait {
                    font-size: 20px;
                    line-height: 30px;
                }
                @include mobile-lg {
                    font-size: 18px;
                    line-height: 26px;
                }
            }
            @include tab-landscape {
                margin-bottom: 25px;
            }
        }

        .subscription-content-body {
            text-align: center;
            .tab-content {
                margin-top: 60px;
                @include tab-portrait {
                    margin-top: 40px;
                }
            }
            .row {
                margin-left: -10px;
                margin-right: -10px;

                @include tab-landscape {
                    margin-left: -10px;
                    margin-right: -10px;
                }

                @include tab-portrait {
                    margin-left: -10px;
                    margin-right: -10px;
                }

                & > [class*="col"] {
                    padding-left: 10px;
                    padding-right: 10px;

                    @include tab-landscape {
                        padding-left: 10px;
                        padding-right: 10px;
                    }

                    @include tab-portrait {
                        padding-left: 10px;
                        padding-right: 10px;
                    }
                }
            }
        }
    }
}

.subscription-tabs {
    width: 260px;
    padding: 8px 10px;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.26);
    backdrop-filter: blur(40px);
    -webkit-backdrop-filter: blur(40px);
    border-radius: 245px;
    border: none;
    .nav-link {
        color: white;
        border: none;
        cursor: pointer;
        display: flex;
        align-items: center;
        &.active {
            background: $primary-color;
            padding: 6px 35px;
            border: none;
            border-radius: 97px;
            color: white;
        }
        &:hover,
        :focus {
            border-color: transparent;
        }
    }
}

.price-card {
    padding: 35px;
    background: white;
    border: 1px solid $border-color;
    box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.04);
    text-align: left;
    @include macbook {
        padding: 30px 20px;
    }
    @include windows-laptop {
        padding: 30px 20px;
    }
    @include tab-landscape {
        padding: 15px;
    }
    @include tab-portrait {
        margin-bottom: 30px;
    }
    @include mobile-lg {
        padding: 25px;
    }
    .price-card-header {
        display: flex;
        border-bottom: 1px solid $border-color;
        padding-bottom: 30px;
        align-items: center;

        h2 {
            font-weight: bold;
            font-size: 34px;
            line-height: 42px;
            margin: -4px 0 0px;
            @include macbook {
                font-size: 30px;
                line-height: 36px;
            }
            @include windows-laptop {
                font-size: 30px;
                line-height: 36px;
            }
            @include tab-landscape {
                font-size: 26px;
                line-height: 32px;
            }
            &::after {
                display: none;
            }
        }
        @include tab-landscape {
            padding-bottom: 20px;
        }
    }
    .price-card-body {
        padding: 30px 0px;
        border-bottom: 1px solid $border-color;
        h4 {
            color: $very-light-text-color;
            margin-bottom: 16px;
            text-align: left;
            @include macbook {
                font-size: 20px;
            }
            @include windows-laptop {
                font-size: 20px;
            }
            @include tab-landscape {
                line-height: 26px;
            }
            @include tab-landscape {
                font-size: 18px;
                line-height: 28px;
            }
        }
        @include tab-landscape {
            padding: 20px 0px;
        }
    }

    .price-card-bottom {
        padding-top: 24px;
        @include macbook {
            padding-top: 18px;
        }
        @include windows-laptop {
            padding-top: 18px;
        }
        @include tab-landscape {
            padding-top: 20px;
        }

        .btn {
            width: 100%;
            @include tab-landscape {
                height: 40px;
                line-height: 40px;
                font-size: 14px;
            }
        }
    }
}

.price-tag {
    font-weight: bold;
    font-size: 46px;
    line-height: 56px;
    color: #db4c46;
    margin-bottom: 36px;
    text-align: left;
    @include macbook {
        margin-bottom: 20px;
        font-size: 42px;
        line-height: 50px;
    }
    @include windows-laptop {
        margin-bottom: 20px;
        font-size: 42px;
        line-height: 50px;
    }
    @include tab-landscape {
        margin-bottom: 20px;
        font-size: 34px;
        line-height: 40px;
    }
    span {
        font-size: 25px;
        line-height: 30px;
        font-weight: normal;
        letter-spacing: -0.04em;
        color: $content-color;
        @include tab-landscape {
            
            line-height: 24px;
        }
    }
    &.subcription-price-tag {
        margin-bottom: 0;
        font-size: 36px;
        line-height: 45px;
        @include mobile-lg {
            margin-bottom: 10px;
        }
    }
    span {
        font-size: 20px;
        line-height: 24px;
        @include macbook {
            font-size: 18px;
            line-height: 22px;
        }
        @include windows-laptop {
            font-size: 18px;
            line-height: 22px;
        }
        @include tab-landscape {
            font-size: 17px;
            line-height: 20px;
        }
        @include tab-landscape {
            font-size: 18px;
            line-height: 22 px;
        }
    }
}

.plan-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    margin-right: 16px;
    @include macbook {
        height: 36px;
        width: 36px;
        margin-right: 10px;
    }
    @include windows-laptop {
        height: 36px;
        width: 36px;
        margin-right: 10px;
    }
    @include tab-landscape {
        height: 36px;
        width: 36px;
        margin-right: 10px;
    }
    @include mobile-lg {
        margin-right: 15px;
    }

    &.copper-color {
        background: #e39d78;
    }
    &.bronze-color {
        background: #df9349;
    }
    &.silver-color {
        background: #c4c4c4;
    }
    &.gold-color {
        background: #efb544;
    }
    &.subscription-plan-icon {
        height: 36px;
        width: 36px;
    }
    img {
        @include tab-landscape {
            width: 12px;
        }
    }
}

ul.price-listing {
    @include lists;
    li {
        margin-bottom: 25px;
        position: relative;
        padding-left: 35px;
        text-align-last: left;
        margin-bottom: 16px;
        @include macbook {
            padding-left: 30px;
        }
        @include windows-laptop {
            padding-left: 30px;
        }
        @include tab-landscape {
            padding-left: 30px;
            font-size: 15px;
        }
        @include mobile-lg {
            padding-left: 30px;
            
        }

        &::before {
            content: "";
            width: 20px;
            height: 20px;
            position: absolute;
            left: 0;
            top: 3px;
            bottom: 0;
            background: url(../images/subscription-booking/price-listing-icon.svg) no-repeat center / contain;
            @include tab-landscape {
                width: 18px;
                height: 18px;
                top: 5px;
            }
        }
    }
}

.subscription-features {
    background: $light-grey-bg;
}

.subscription-booking-information{
    ul{
        @include lists;
        margin-bottom: 30px;

        li{
            position: relative;
            padding-left: 34px;
            margin-bottom: 16px;

            @include mobile-lg{
                line-height: 22px;
                padding-left: 26px;
                margin-bottom: 12px;
            }

            &::before{
                content: "";
                position: absolute;
                top: 2px;
                left: 0;
                height: 22px;
                width: 22px;
                background: url(../images/check-circle-black.svg) no-repeat center / contain;

                @include mobile-lg{
                    top: 2px;
                    left: 0;
                    height: 18px;
                    width: 18px;
                }
            }
        }

        &:last-child{
            margin-bottom: 0;
        }
    }
}

.features-insurance-cards {
    ul {
        @include lists;
        display: flex;
        flex-wrap: wrap;
        margin: -15px;
        @include tab-landscape {
            margin: -5px;
        }

        li {
            width: 25%;
            padding: 15px;
            @include macbook {
                padding: 5px;
            }
            @include windows-laptop {
                padding: 5px;
            }
            @include tab-landscape {
                width: 33.33%;
                padding: 5px;
            }
            @include mobile-lg {
                width: 50%;
            }
        }
    }
    @include tab-portrait {
        margin-top: 30px;
    }
}

.features-insurance-card {
    background: white;
    border: 1px solid #e8e8e8;
    padding: 20px;
    height: 190px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .features-icon {
        width: 80px;
        height: 80px;
        background: $primary-color;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto 20px;
        @include macbook {
            width: 60px;
            height: 60px;
        }
        @include windows-laptop {
            width: 60px;
            height: 60px;
        }
        @include tab-landscape {
            width: 65px;
            height: 65px;
        }
        img {
            width: 33px;
            @include macbook {
                width: 25px;
            }
            @include windows-laptop {
                width: 25px;
            }
            @include tab-landscape {
                width: 25px;
            }
        }
    }
    h4 {
        margin-bottom: 0px;
        text-align: center;
        @include macbook {
            font-size: 20px;
            line-height: 24px;
        }
        @include windows-laptop {
            font-size: 20px;
            line-height: 24px;
        }
        @include tab-landscape {
            font-size: 20px;
            line-height: 24px;
        }
    }
}

.subscription-works {
    position: relative;
    figure {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .container {
        position: relative;
    }

    .heading-component-2 {
        h2 {
            color: white;
            margin-bottom: 8px;
        }
        p {
            color: white;
        }
    }
}

/* =============== subscription steps one =============== */
.subscription-step {

    ul {
        @include lists;
        display: flex;
        align-items: center;
        border-bottom: 1px solid $border-color;

        li {
            width: 25%;
            border-right: 1px solid $border-color;
            position: relative;
            pointer-events: none;

            &::before {
                content: "";
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: -2px;
                width: 13px;
                height: 21px;
                background: url(../images/step-arrow-1.svg) no-repeat center right / contain;
                z-index: 1;

                @include tab-landscape {
                    width: 10px;
                    height: 18px;
                    right: -11px;
                }
            }

            @include tab-portrait{
                width: 100%;
            }

            &.active-steps{
                pointer-events: auto;

                &::before{
                    background: url(../images/step-arrow-2.svg) no-repeat center right / contain;
                }
            }

            &.completed-steps{
                pointer-events: auto;

                &::before{
                    background: url(../images/step-arrow-2.svg) no-repeat center right / contain;
                }
            }
         
        }
    }
}

.disable-steps{
    @include tab-portrait{
     display: none;
    }
}

.subscription-step-card {
    background: $light-grey-bg;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 78px;
    @include macbook {
        height: 55px;
    }
    @include windows-laptop {
        height: 55px;
    }
    @include tab-landscape {
        height: 55px;
    }

    h4 {
        margin-bottom: 0px;
        color: $content-color;
        text-transform: capitalize;
        @include macbook {
            font-size: 17px;
        }
        @include windows-laptop {
            font-size: 17px;
        }
        @include tab-landscape {
            font-size: 15px;
        }

        @include tab-portrait{
            display: none;
        }
    }
    .step-card-initial {
        font-size: 18px;
        line-height: 21px;
        font-weight: bold;
        height: 38px;
        width: 38px;
        border-radius: 50%;
        color: $content-color;
        background: white;
        border: 1px solid $border-color;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 12px;
        @include macbook {
            font-size: 15px;
            height: 30px;
            width: 30px;
        }
        @include windows-laptop {
            font-size: 15px;
            height: 30px;
            width: 30px;
        }
        @include tab-landscape {
            font-size: 12px;
            height: 24px;
            width: 24px;
            line-height: 18px;
            margin-right: 7px;
        }
    }
}

.active-steps {                
    .subscription-step-card {
        background: white;
        h4 {
            color: black;
        }
        .step-card-initial {
            background: $primary-color;
            font-size: 0px;
            position: relative;
            &:before {
                content: "";
                position: absolute;
                left: 0;
                right: 0;
                height: 12px;
                width: 12px;
                border-radius: 50%;
                display: inline-block;
                background: white;
                margin: 0 auto;
                vertical-align: middle;
                @include macbook {
                    height: 10px;
                    width: 10px;
                }
                @include windows-laptop {
                    height: 8px;
                    width: 8px;
                }
                @include tab-landscape {
                    height: 8px;
                    width: 8px;
                }
            }
        }
    }
}

.completed-steps {
    .subscription-step-card {
        background: white;
        h4 {
            color: black;
        }
        .step-card-initial {
            background: $primary-color;
            font-size: 0px;
            position: relative;
            &:before {
                content: "";
                position: absolute;
                left: 0;
                right: 0;
                height: 14px;
                width: 16px;
                display: inline-block;
                margin: 0 auto;
                vertical-align: middle;
                background: url(../images/subscription-booking/steps-tick.svg) no-repeat center / contain;
                @include macbook {
                    height: 12px;
                    width: 14px;
                }
                @include windows-laptop {
                    height: 12px;
                    width: 14px;
                }
                @include tab-landscape {
                    height: 10px;
                    width: 12px;
                }
            }
        }
    }
}

.package-card {
    @extend .card;
    padding: 25px;
    margin: 60px 0px 30px 0px;
    .package-card-header {
        border-bottom: 1px solid $border-color;
        padding-bottom: 16px;
        .selected-package {
            display: flex;
            padding-bottom: 15px;
            align-items: center;
        }
        h3 {
            font-weight: bold;
            font-size: 28px;
            line-height: 34px;
            margin-bottom: 0px;
        }
    }
    .package-card-footer {
        display: flex;
        justify-content: space-between;
        padding-top: 20px;
        align-items: center;
        @include mobile-lg {
            display: block;
        }
    }
}

.package-btn {
    background: rgba(219, 76, 70, 0.1);
    border-radius: 100px;
    letter-spacing: 0.175em;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    color: $primary-color;
    font-weight: 500;
    color: $primary-color;
    padding: 0px 25px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    &:hover {
        color: $primary-color;
        text-decoration: none !important;
    }
}

.equal-checking{
    display: flex;
    justify-content: space-between;

    @include mobile-lg{
        flex-direction: column;
    }

    .vehicle-type-check-box{
        width: calc(50% - 10px);

        @include mobile-lg{
            width: 100%;
            margin-bottom: 16px;
        }

        &:last-child{
            margin-bottom: 0;
        }

        input[type=radio] + label{
            min-width: 100%;
        }
    }
}

.tripple-radiobtn{
    display: flex;
    justify-content: space-between;

    .vehicle-type-check-box{
        width: calc(33.3% - 13px);

        @include mobile-lg{
            width: calc(33.3% - 5px);
        }

        &:last-child{
            margin-bottom: 0;
        }

        input[type=radio] + label{
            min-width: 100%;
        }
    }
}


.new-bid {
    display: flex;
    justify-content: space-between;
    @include mobile-lg {
        display: block;
    }
    .form-check{
        width: 100%;
        input[type=radio] + label{
            width: 120px;
            border: 1px solid #000000;
            height: 42px !important;
            line-height: 43px !important;
            text-align: center;
            padding: 0 !important;
            font-weight: 500 !important;
            margin: 0 !important;
            width: calc(100% - 15px);
    
            @include mobile-lg{
                width: 100%;
            }
    
            &::before{
                display: none;
            }
    
            &::after{
                top: 0;
                left: 0;
                height: 100% !important;
                width: 100% !important;
                margin: 0 !important;
                border: none !important;
                background: transparent !important;            
            }
    
            span{
                position: relative;
                z-index: 2;
            }
        }
    
        input[type=radio]:checked + label{
            color: white !important;
    
            &::before{
                display: inline-block !important;
            }
    
            &::after{
                display: inline-block !important;
                border-radius: 0 !important;
                background: black !important;
                transform: none !important;
            }
        } 
    }

}

.subscription-add-listing {
    background: white;
    border: 1px solid $border-color;
    padding: 30px;
    box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.04);
    margin-bottom: 30px;
    @include tab-landscape {
        padding: 20px;
    }
    @include mobile-lg {
        padding: 20px 0px;
        border: none;
        border-bottom: 1px solid $border-color;
        margin-bottom: 0px;
        box-shadow: none;
    }
    &:last-child {
        margin-bottom: 0px;
    }
}

.subscription-add-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    .selected-vehicle-item {
        padding: 0px;
        border: none;
        @include tab-landscape {
            margin-right: 20px;
        }
        @include mobile-lg {
            display: flex;
            figure {
                @include mobile-lg {
                    width: 44px;
                    height: 44px;
                    margin-right: 10px;
                }
            }
        }
        h4 {
            margin-top: 0;
            font-weight: bold;
            @include tab-landscape {
                font-size: 20px;
            }
            @include tab-sm-portrait {
                font-size: 18px;
            }
            @include mobile-lg {
                font-size: 18px;
                line-height: 21px;
            }
        }
        p {
            @include mobile-lg {
                font-size: 14px;
                line-height: 20px;
            }
        }
    }
}

.subscription-add-content {
    border-top: 1px solid $border-color;
    padding-top: 30px;
    margin-top: 30px;
    h3 {
        margin-bottom: 20px;
    }
}

.subscription-add-content-item {
    margin-bottom: 30px;
    &:last-child {
        margin-bottom: 0px;
    }
}

.primary-toggle-menu {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: $primary-color;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex: none;
    @include tab-landscape {
        height: 32px;
        width: 32px;
    }
    @include mobile-lg {
        height: 20px;
        width: 20px;
    }
    &:before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        height: 14px;
        width: 17px;
        display: inline-block;
        margin: 0 auto;
        vertical-align: middle;
        background: url(../images/down-white-arrow.svg) no-repeat center / contain;
        @include tab-landscape {
            height: 12px;
            width: 14px;
        }
        @include mobile-lg {
            height: 8px;
            width: 10px;
        }
    }
}

.selected-package-content {
    .selected-package-head {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        .selected-package-icon {
            width: 36px;
            height: 36px;
            background: #efb544;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 10px;
            img {
                width: auto;
            }
        }
        h3 {
            font-weight: bold;
            font-size: 28px;
            line-height: 34px;
            margin-bottom: 0px;
        }
    }
    p {
        margin-bottom: 18px;
    }
}

.subscription-toggle-content {
    padding: 60px 0px;
}
